<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layouts/base}">
<head>
<title th:text="${pageInfo.name}">Test</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
            <div class="create">
                <div class="create__head">
                    <div class="create__title"><img th:src="@{/resources/images/New_Topic.svg}" alt="New topic">New topic</div>
                    <span>Forum Guidelines</span>
                </div>
                <div class="create__section">
                    <label class="create__label" for="title">Topic title</label>
                    <input v-model="model.title" type="text" class="form-control" id="title" placeholder="Topic title">
                </div>
                
                <div class="create__section create__textarea">
                    <label class="create__label" for="description">Content</label>
                    <div class="create__textarea-head">
                        <span><i class="icon-Quote"></i></span>
                        <span><i class="icon-Bold"></i></span>
                        <span><i class="icon-Italic"></i></span>
                        <div class="create__textarea-separate"></div>
                        <span><i class="icon-Share_Topic"></i></span>
                        <span><i class="icon-BlockQuote"></i></span>
                        <span><i class="icon-Performatted"></i></span>
                        <span><i class="icon-Upload_Files"></i></span>
                        <span class="create__textarea-separate"></span>
                        <span><i class="icon-Bullet_List"></i></span>
                        <span><i class="icon-heading"></i></span>
                        <span><i class="icon-Horizontal_Line"></i></span>
                        <span><i class="icon-Emoticon"></i></span>
                        <span><i class="icon-Settings"></i></span>
                        <span><i class="icon-Color_Picker"></i></span>
                        <div class="create__textarea-btn">
                            <a href="create-topic.html#" class="btn">Preview</a>
                        </div>
                    </div>
                    <textarea v-model="model.content" class="form-control" id="description" placeholder="Content"></textarea>
                </div>
				<div class="create__section">
					<label class="create__label" for="tags">Add tags</label>
                    <input v-model="model.tags" type="text" class="form-control" id="tags" placeholder="e.g. nature, science">
                </div>
				<div class="create__section">
					<label class="create__label" for="tags">Add categories</label>
						<a v-on:click="catToggle(cat, $event)" v-for="cat in categories" href="javascript:void(0)" class="create__btn-mar-right btn" :color="cat.color" :key="cat.key" :value="cat.value">{{cat.key}}</a>
                </div>
                <div class="create__footer">
                    <a href="javascript:void(0)" v-on:click="doReset" class="create__btn-cansel btn">Cancel</a>
                    <a href="javascript:void(0)" v-on:click="doSubmit" class="create__btn-create btn btn--type-02">Create Thread</a>
                </div>
            </div>
            <div class="posts" data-visible="desktop">
                <div class="posts__head">
                    <div class="posts__topic">Topic</div>
                    <div class="posts__category">Category</div>
                    <div class="posts__users">Users</div>
                    <div class="posts__replies">Replies</div>
                    <div class="posts__views">Views</div>
                    <div class="posts__activity">Activity</div>
                </div>
                <div class="posts__body">
                    <div class="posts__item">
                        <div class="posts__section-left">
                            <div class="posts__topic">
                                <div class="posts__content">
                                    <a href="create-topic.html#">
                                        <h3>Current news and discussion</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="posts__category"><a href="create-topic.html#" class="category"><i class="bg-368f8b"></i>Politics</a></div>
                        </div>
                        <div class="posts__section-right">
                            <div class="posts__users">
                                <div>
                                    <a href="create-topic.html#" class="avatar"><img src="images/A.svg" alt="avatar"></a>
                                </div>
                                <div>
                                    <a href="create-topic.html#" class="avatar"><img src="images/G.svg" alt="avatar"></a>
                                </div>
                                <div>
                                    <a href="create-topic.html#" class="avatar"><img src="images/P.svg" alt="avatar"></a>
                                </div>
                            </div>
                            <div class="posts__replies">31</div>
                            <div class="posts__views">14.5k</div>
                            <div class="posts__activity">13d</div>
                        </div>
                    </div>
                    <div class="posts__item bg-f2f4f6">
                        <div class="posts__section-left">
                            <div class="posts__topic">
                                <div class="posts__content">
                                    <a href="create-topic.html#">
                                        <h3>Get your username drawn by the other users of unity! or a drawing based on what you do</h3>
                                    </a>
                                    <div class="posts__tags tags">
                                        <a href="create-topic.html#" class="bg-4f80b0">gaming</a>
                                        <a href="create-topic.html#" class="bg-424ee8">nature</a>
                                        <a href="create-topic.html#" class="bg-36b7d7">entertainment</a>
                                    </div>
                                </div>
                            </div>
                            <div class="posts__category"><a href="create-topic.html#" class="category"><i class="bg-4436f8"></i>Video</a></div>
                        </div>
                        <div class="posts__section-right">
                            <div class="posts__users">
                                <div>
                                    <a href="create-topic.html#" class="avatar"><img src="images/L.svg" alt="avatar"></a>
                                </div>
                                <div>
                                    <a href="create-topic.html#" class="avatar"><img src="images/T.svg" alt="avatar"></a>
                                </div>
                            </div>
                            <div class="posts__replies">252</div>
                            <div class="posts__views">396</div>
                            <div class="posts__activity">13m</div>
                        </div>
                    </div>
                    <div class="posts__item">
                        <div class="posts__section-left">
                            <div class="posts__topic">
                                <div class="posts__content">
                                    <a href="create-topic.html#">
                                        <h3>Which movie have you watched most recently?</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="posts__category"><a href="create-topic.html#" class="category"><i class="bg-3ebafa"></i> Exchange</a></div>
                        </div>
                        <div class="posts__section-right">
                            <div class="posts__users">
                                <div>
                                    <a href="create-topic.html#" class="avatar"><img src="images/E.svg" alt="avatar"></a>
                                </div>
                                <div>
                                    <a href="create-topic.html#" class="avatar"><img src="images/I.svg" alt="avatar"></a>
                                </div>
                                <div>
                                    <a href="create-topic.html#" class="avatar"><img src="images/R.svg" alt="avatar"></a>
                                </div>
                            </div>
                            <div class="posts__replies">207</div>
                            <div class="posts__views">7.5k</div>
                            <div class="posts__activity">41m</div>
                        </div>
                    </div>
                    <div class="posts__item posts__item--bg-gradient">
                        <div class="posts__section-left">
                            <div class="posts__topic">
                                <div class="posts__content">
                                    <a href="create-topic.html#">
                                        <h3><span>This post contails spoiler about</span> Star Wars Movie.</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="posts__category"><a href="create-topic.html#" class="category"><i class="bg-777da7"></i> Q&amp;As</a></div>
                        </div>
                        <div class="posts__section-right">
                            <div class="posts__users">
                                <div>
                                    <a href="create-topic.html#" class="avatar"><img src="images/F.svg" alt="avatar"></a>
                                </div>
                            </div>
                            <div class="posts__replies">2.3k</div>
                            <div class="posts__views">2.0k</div>
                            <div class="posts__activity">1h</div>
                        </div>
                    </div>
                    <div class="posts__item">
                        <div class="posts__section-left">
                            <div class="posts__topic">
                                <div class="posts__content">
                                    <a href="create-topic.html#">
                                        <h3>Take a picture of what you’re doing at this very moment</h3>
                                    </a>
                                    <div class="posts__tags tags">
                                        <a href="create-topic.html#" class="bg-ec008c">selfie</a>
                                        <a href="create-topic.html#" class="bg-7cc576">camera</a>
                                    </div>
                                </div>
                            </div>
                            <div class="posts__category"><a href="create-topic.html#" class="category"><i class="bg-c6b38e"></i> Pets</a></div>
                        </div>
                        <div class="posts__section-right">
                            <div class="posts__users">
                                <div>
                                    <a href="create-topic.html#" class="avatar"><img src="images/C.svg" alt="avatar"></a>
                                </div>
                                <div>
                                    <a href="create-topic.html#" class="avatar"><img src="images/U.svg" alt="avatar"></a>
                                </div>
                                <div>
                                    <a href="create-topic.html#" class="avatar"><img src="images/I.svg" alt="avatar"></a>
                                </div>
                            </div>
                            <div class="posts__replies">441</div>
                            <div class="posts__views">3.1k</div>
                            <div class="posts__activity">6h</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div layout:fragment="customjs">
    <script type="text/javascript" th:src="@{/resources/js/controller/create.js}"></script>
</div>
<div layout:fragment="customcss">
    <!-- nothing -->
</div>
</body>
</html>